<html >
<html>
    <head> 
        <link th:href="@{/inventory-stylesheet.css}" rel="stylesheet"> 
        <link th:href="@{/topnav.css}" rel="stylesheet"> 
    </head>    
    <body>

        <div class="topnav" id="myTopnav">
            <div class="dropdown">
              <button class="dropbtnactive">Student
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a th:href="@{/student/submit/}">Submit Student</a>
                <a th:href="@{/student/all/}">List of Students</a>
              </div>
            </div>
   
            <div class="dropdown">
               <button class="dropbtn">Book
                 <i class="fa fa-caret-down"></i>
               </button>
               <div class="dropdown-content">
                  <a th:href="@{/book/submit/}">Submit Book</a>
                  <a th:href="@{/book/all/}">List of Books</a>
               </div>
             </div>
   
             <div class="dropdown">
               <button class="dropbtn">Teacher
                 <i class="fa fa-caret-down"></i>
               </button>
               <div class="dropdown-content">
                  <a th:href="@{/teacher/submit/}">Submit Teacher</a>
                  <a th:href="@{/teacher/all/}">List of Teachers</a>
               </div>
             </div>

             <div class="dropdown">
                <button class="dropbtn">Lesson
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a th:href="@{/lesson/submit/}">Submit Lesson</a>
                    <a th:href="@{/lesson/all/}">List of Lessons</a>
                </div>
             </div>

             <div class="dropdown">
              <button class="dropbtn">Group
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                  <a th:href="@{/group/submit/}">Create Group</a>
                  <a th:href="@{/group/all/}">List of Groups</a>
              </div>
           </div>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
          </div> 
    <!--
        <div class="alert success" th:if="${status} == 'success'">
            <strong> You successfully submited the item! </strong> 
        </div>

        <div class="alert" th:if="${status} == 'failed'">
            <strong > You failed to submit the item. </strong> 
       </div>
-->
        <div class="container">
           <table>
              <tr class="head">
                 <th>Id</th>
                 <th>Name</th>
                 <th>Book</th>
                 <th>Teacher</th>
                 <th>Price</th>
                 <th>Day</th>
                 <th>Time</th>
                 <th> </th>
                 <th></th>
              </tr>
              <tr th:each="student: ${students}">
                <td th:text="${student.id}"></th>
                <td th:text="${student.name}"></td>
                <td th:text="${student.book.name}"></td>
                <td th:text="${student.teacher.name}"></td>
                <td th:text="${student.price}"></td>
                <td th:text="${student.daysOfClass}"></td>
                <td th:text="${student.timeOfClass}"></td>
                <td>
                    <a role="button" style="color:white; background-color: #263238" class="table-button" th:href="@{/lesson/all/(id = ${student.id})}">View Classes</a>
                </td>
                <td>
                    <a role="button" style="color:white; background-color: #263238" class="table-button" th:href="@{/student/submit/(id = ${student.id})}">↻</a>
                    <a role="button" style="color:white; background-color: #860101" class="table-button" th:href="@{/student/delete/(id = ${student.id})}">X</a>
                </td>
              </tr>
           </table>
        </div>
   </body>
</html>